
<div class="well well-lg">
<div class="jumbotron">
	<h1>Hello, patito!</h1>
	<h3>By Randall Valenciano</h3>
	<p>Patito app is the hottest app for testing security holes.</p>
	<p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>
</div>

